<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div style="display: block; background-color: green;text-align: center">
    <h1>Edit From Students</h1></div>
<div>
    <a th:href="@{/students}" class="btn btn-primary btn-lg">Back to Home Students</a>
    <a th:href="@{/class}" class="btn btn-primary btn-lg">Back to Home Class</a>
</div>
<th:block th:if="${message}">
    <p th:text="${message}" class="alert alert-primary" style="text-align: center"></p>
</th:block>
<div>
    <form th:action="@{/students/edit}" th:object="${students}" th:method="post">
        <div class="container">
                <label for="id"><b>ID</b></label>
                <input type="text"  name="id" id="id" th:field="*{id}" readonly hidden="">

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter name" name="name" id="name" th:field="*{name}">

            <label for="age"><b>Age</b></label>
            <input type="text" placeholder="Enter age" name="age" id="age" th:field="*{age}">

            <label for="point"><b>Point</b></label>
            <input type="text" placeholder="Repeat point" name="point" id="point" th:field="*{point}">
            <label>
                <select class="form-select" aria-label="Default select example" name="classes">
                    <option selected>---Choice Class---</option>
                    <option
                            th:each="classe : ${classesList}"
                            th:value="${classe.id}" th:text="${classe.name}"
                            th:selected="(${students.classes}) and (${classe.id} == *{classes.id})"
                    ></option>
                </select>
            </label>

            <button type="submit" class="register-btn">Edit</button>
        </div>

    </form>
</div>
</body>
</html>