<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Students Manager</h1>
</div>
<div>
    <a th:href="@{/students/create}">Create New Student</a>
</div>
<div>
    <form th:action="@{/students/searchPage}" th:method="get">
        <input type="text" name="name" placeholder="Enter your name">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <a th:href="@{/students}">Reset</a>
</div>
<div>
    <a th:href="@{/class}">Class Home</a>
</div>
<div>
    <form th:action="@{/students/sort}" >
        <label>
            <select name="sort">
                <option value="point">Point</option>
                <option value="age">Age</option>
            </select>
            <button type="submit">Sort</button>
        </label>
    </form>
</div>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Point</th>
            <th>Class</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <th:block th:each="student : ${students}">
            <tr>
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.point}"></td>
                <td th:text="${student.classes.getName()}"></td>
                <td><a th:href="@{/students/delete/__${student.id}__}">Delete</a></td>
                <td><a th:href="@{/students/edit/__${student.id}__}">Edit </a></td>
            </tr>

        </th:block>

    </table>

</div>


</body>
</html>