<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div><h1>Class Manager</h1></div>-->
<!--<div>-->
<!--  <a th:href="@{/class/create}">Create new Class</a>-->
<!--</div>-->
<!--<div>-->
<!--  <table border="1">-->
<!--    <tr>-->
<!--      <th>Class Name</th>-->
<!--      <th>Student</th>-->
<!--    </tr>-->
<!--    <th:block th:each="c : ${classSort}">-->
<!--      <tr>-->
<!--        <td th:text="${c.name}"></td>-->


<!--      </tr>-->
<!--    </th:block>-->
<!--  </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->